{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->

        <!-- Menu Start -->
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                
                <div class="tab-content">
                    {% for recipe in recipes %}
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        {{ recipe.category }}
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt=""
                                        style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>{{ recipe.r_name }}</span>
                                            <!-- <span class="text-primary">$115</span> -->
                                        </h5>
                                        <small class="fst-italic">{{ recipe.instructions }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
    <div class="col-md-6 bg-dark d-flex align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal">Dishes</h5>
            <h1 class="text-white mb-4">Add Your Dishes Here</h1>
            <form method="POST" action="{% url 'health_analysis' %}">
                {% csrf_token %}
                <div class="row g-3">
                    <!-- Rcipe Name -->
                    <div class="col-md-6">
                        <label for="recipe-name">Recipe Name</label>
                        <div class="form-floating">

                            <input type="text" class="form-control" id="recipe-name" name="name"
                                placeholder="Enter recipe name" required>
                            {% if form.errors.name %}
                            <div class="error-message">{{ form.errors.name }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Category -->

                    <div class="col-md-6">
                        <label for="recipe-category">Category</label>
                        <div class="form-floating">

                            <select id="recipe-category" name="category" required>
                                <option value="" disabled selected>Select category</option>
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Snack">Snack</option>
                            </select>
                        </div>
                    </div>

                    <!-- Ingredients -->

                    <div class="col-md-6">
                        <label for="ingredients">Ingredients</label>
                        <div class="form-floating">

                            <textarea id="ingredients" name="ingredients" placeholder="List ingredients..."
                                required></textarea>
                            {% if form.errors.ingredients %}
                            <div class="error-message">{{ form.errors.ingredients }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Instructions -->
                    <div class="col-12">
                        <label for="instructions">Instructions</label>
                        <div class="form-floating">
                            <textarea id="instructions" name="instructions" placeholder="Enter cooking steps..." required></textarea>
                            {% if form.errors.instructions %}
                            <div class="error-message">{{ form.errors.instructions }}</div>
                            {% endif %}
                    
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="prep-time">Preparation Time (mins)</label>
                            <input type="number" id="prep-time" name="prep_time" placeholder="e.g. 20" required>
                        </div>
                        <div>
                            <label for="cook-time">Cooking Time (mins)</label>
                            <input type="number" id="cook-time" name="cook_time" placeholder="e.g. 30" required>
                        </div>
                    </div>

                    <!-- If "Other" is selected, this input field will show -->
                    <div class="col-12" id="other-health-issue-div" style="display:none;">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="other_health_issue" name="other_health_issue"
                                placeholder="Specify Health Issue">
                            <label for="other_health_issue">Specify Meal Plan</label>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                        
                        <button class="btn btn-primary w-100 py-3" type="submit">Add Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock content %}